/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1h
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.03em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.top-navigation {
	background-color: #fff;
	width: 100%;
	border-bottom: 1px solid #DDD;
}

.top-navigation > .content {
	height: 4.375rem;
	width: 60%;
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}

.top-navigation .logo {
	height: 70px;
}

.top-navigation .all-links {
	color: #838994;
	font-size: 1.04rem;
	margin-top: 1.7rem;
	float: right;
}

ol, ul {
	list-style: none;
}

.top-navigation .all-links > li {
 	display: inline;
  	margin-left: 1.563rem;
 	/* float: right; */
  	height: 40px;
  	padding-top: 30px;
  	/* font-weight: 500;
  	 */}

.top-navigation .all-links > li:hover {
	color: black;
	text-decoration: underline;
	cursor: pointer;
} 

.header-link {
	color: black;
	font-weight: 600;
}

.background-section {
	background-image: url('karma-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 650px;
	color: white;
	margin-top: 140px;
}

.background-section p {
	left: 0;
	line-height: -100px;
	margin: auto;
	margin-top: -140px;
	/* position: absolute; */
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 60px;
	padding-bottom: 40px;
	letter-spacing: 0.05em;
	font-weight: 100;
}

.background-section h2 {
	left: 0;
	line-height: 100px;
	margin: auto;
	margin-top: -70px;
	/* position: absolute; */
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 30px;
	letter-spacing: 0.05em;
	font-weight: 100;
}

.buttons {
	color: white;
	text-align: center;
}


